In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tread_depth.csv')

/Users/vedparanjape/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
cols = ['td_min','tisize_width','tisize_ratio','tisize_rim','tisize_width','numspikes_na']
dff = df[cols]

In [7]:
dff.head()

   td_min  tisize_width  tisize_ratio  tisize_rim  tisize_width  numspikes_na
0    15.0         315.0            80        22.5         315.0             1
1    13.7         315.0            80        22.5         315.0             1
2    12.8         315.0            80        22.5         315.0             1
3    11.3         315.0            80        22.5         315.0             1
4    10.3         315.0            80        22.5         315.0             1

In [10]:
from sklearn.cluster import KMeans
import numpy as np
from sklearn.metrics import silhouette_samples, silhouette_score
X = np.asarray(dff)

In [ ]:
range_n_clusters = [16]
for n_clusters in range_n_clusters:
    
    clusterer = KMeans(n_clusters=n_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(X)

    # The silhouette_score gives the average value for all the samples.
    # This gives a perspective into the density and separation of the formed
    # clusters
    silhouette_avg = silhouette_score(X, cluster_labels)
    print(silhouette_avg)